.title {text-align: center;}
.loginButton {text-align: center;}
.welcome {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#timeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.decades-button {
    display: flex;
}
.decades-content {
    display: none;
    position: absolute;
}
.decades-content button {
    display: block;
    background-color: white;
    color: black;
    padding: 12px 16px;
    border: none;
    text-align: center;
    width: 100%;
}
.decades-content button:hover {
    background-color: blue;
}
.years-button {
    display: flex;
}
.years-content {
    display: none;
    position: absolute;
}
.years-content button {
    display: block;
    background-color: white;
    color: black;
    padding: 12px 16px;
    border: none;
    text-align: center;
    width: 100%;
}
.years-content button:hover {
    background-color: blue;
}